<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties" />
	<typeAliases>
		<typeAlias alias="AppUser" type="AppUser" />
		<typeAlias alias="Branch" type="Branch" />
		<typeAlias alias="Company" type="Company" />
		<typeAlias alias="Material" type="Material" />
		<typeAlias alias="Menu" type="Menu" />
		<typeAlias alias="MenuIngredient" type="MenuIngredient" />
		<typeAlias alias="InventoryItem" type="InventoryItem" />
		<typeAlias alias="PurchaseOrder" type="PurchaseOrder" />
		<typeAlias alias="PurchaseOrderLine"
			type="PurchaseOrderLine" />
		<typeAlias alias="MenuToggle" type="MenuToggle" />
	</typeAliases>
	<environments default="dev">
		<environment id="dev">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>



	<mappers>
		<mapper resource="mappers/AuthMapper.xml" />
		<mapper resource="mappers/MaterialMapper.xml" />
		<mapper resource="mappers/MenuMapper.xml" />
		<mapper resource="mappers/BranchMapper.xml" />
		<mapper resource="mappers/OrderMapper.xml" />
	</mappers>
</configuration>
