<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	version="3.1">
	<display-name>Meetlog</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/uploads/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/img/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/css/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/js/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>controller.MainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EventServlet</servlet-name>
		<servlet-class>controller.EventServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EventServlet</servlet-name>
		<url-pattern>/event/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CourseServlet</servlet-name>
		<servlet-class>controller.CourseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CourseServlet</servlet-name>
		<url-pattern>/course</url-pattern>
		       
		<url-pattern>/course/*</url-pattern>
		 
	</servlet-mapping>

	<servlet>
		<servlet-name>CourseManagementServlet</servlet-name>
		<servlet-class>controller.CourseManagementServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CourseManagementServlet</servlet-name>
		<url-pattern>/admin/course-management</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CourseReservationManagementServlet</servlet-name>
		<servlet-class>controller.CourseReservationManagementServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CourseReservationManagementServlet</servlet-name>
		<url-pattern>/admin/course-reservation</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CourseReviewManagementServlet</servlet-name>
		<servlet-class>controller.CourseReviewManagementServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CourseReviewManagementServlet</servlet-name>
		<url-pattern>/admin/course-review</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CourseStatisticsServlet</servlet-name>
		<servlet-class>controller.CourseStatisticsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CourseStatisticsServlet</servlet-name>
		<url-pattern>/admin/course-statistics</url-pattern>
	</servlet-mapping>
	    
</web-app>