<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.MenuDAO">
	<resultMap id="menuResultMap" type="Menu" autoMapping="true">
		<id property="id" column="id" />
		<result property="restaurantId" column="restaurant_id" />
		<result property="isPopular" column="is_popular" />
	</resultMap>

	<select id="findByRestaurantId" parameterType="int"
		resultMap="menuResultMap">
		SELECT * FROM menus WHERE restaurant_id = #{restaurantId} ORDER BY
		is_popular DESC, name ASC
	</select>

	<insert id="insert" parameterType="Menu" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO menus (restaurant_id, name, price, description, image,
		is_popular)
		VALUES (#{restaurantId}, #{name}, #{price}, #{description}, #{image},
		#{isPopular})
	</insert>

	<update id="update" parameterType="Menu">
		UPDATE menus SET
		name = #{name},
		price = #{price},
		description = #{description},
		image = #{image},
		is_popular = #{isPopular}
		WHERE id = #{id}
	</update>

	<delete id="delete" parameterType="int">
		DELETE FROM menus WHERE id = #{id}
	</delete>
</mapper>